<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4nkdu7lQgakfl6gId9SNcrkY0suAevO4</string>
	<key>GCM_SENDER_ID</key>
	<string>552987313953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findstoneage.hobbyzhub.hobbyzhub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hobbyzhubnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbyzhubnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552987313953:ios:2d19186ee40972716ee060</string>
</dict>
</plist>